<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>银联商务公众号支付</title>
		<!-- 引入bootstrap样式 -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
		<!-- jquery -->
		<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<style type="text/css">
		 #span2 {
				font-size: 17px; 
				font-family: "agency fb";
				margin-left: 5px;
			}
		.radio-sex {
			    position: relative;
			    display: inline-block;
			    margin-right: 12px;
				float: right;
				margin-right: 20px;
			}
			
			.radio-sex input {
			    vertical-align: middle;
			    margin-top: -2px;
			    margin-bottom: 1px;
			    /* 前面三行代码是为了让radio单选按钮与文字对齐 */
			    width: 20px;
			    height: 20px;
			    appearance: none;/*清楚默认样式*/
			    -webkit-appearance: none;
			    opacity: 0;
			    outline: none;
			    /* 注意不能设置为display:none*/
				
			}
			
			.radio-sex label {
			    position: absolute;
			    left: 0;
			    top: 0;
			    z-index: -1;
			    /*注意层级关系，如果不把label层级设为最低，会遮挡住input而不能单选*/
			    width: 20px;
			    height: 20px;
			    border: 1px solid lightblue;
			    border-radius: 100%;
			}
			.radio-sex input:checked+label {
			    background: #D9534F;
			}
			.radio-sex input:checked+label::after {
			    content: "";
			    position: absolute;
			    left: 7px;
			    top: 2px;
			    width: 5px;
			    height: 12px;
			    border-right: 2px solid #fff;
			    border-bottom: 2px solid #fff;
			    transform: rotate(45deg);
			}
		</style>
	</head>
	<body>
	          <div class="container" style="background-color: #F7F7F7;">
			<center style="margin-top:20px; margin-bottom: 10px;">
				<img src="../lib/img/shanghu24.png" style="margin-bottom: 5px;">
				<span style="font-size: 17px; margin-left: 2px;">银联商务股份有限公司</span>
			</center>
<!-- 			<center style="margin-top:20px; margin-bottom: 10px;"><img src="../lib/img/yiyuan.png" ></center> -->
		</div>
 
		<div class="well well-sm" style="background-color:transparent;">
			<center><img src="../lib/img/jinbi96.png" style="margin-top:5px; margin-bottom: 5px;"></center>
			<div align = "center">
				<h4><p>应付</p></h4>
				<!-- <input text="text" readonly id="InputAmount" value="12.45" th:value="${price}" th:placeholder="${price}"  style="outline:0;border: 0; text-align:center;  font-size:25px;" > -->
				<span text="text" id="totalAmount" th:text="${totalAmount}" style=" font-size:25px;">12.45</span>
				<span>元</span>
			</div>
			<p class="help-block" align="center">(核实无误后点击"去支付"按钮完成支付)</p>	
		</div>
	</div>

		<div style="margin-left: 15px;">
			<img src="../lib/img/ali_pay24.png" >
			<span id="span2">支付宝支付</span>
<!-- 			<img src="../lib/img/gou24.png" style="margin-right: 20px; width:20px;" align="right"> -->
				<div class="radio-sex" >
				     <input type="radio" id="sex1" name="sex" checked="checked"  >
				     <label for="sex1"></label>
			 	</div>
		</div>
		<hr >
		<div align = "right" style="margin-right: 20px;">
			<span style="font-size: 18px;">实付:</span>
			<span class="text-danger">￥</span>
			<span th:text="${totalAmount}" style="font-size:25px;" class="text-danger">12.45</span>
		</div>
						  
        </div>
		<div >
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button class="btn btn-lg btn-danger" id="btn">去支付</button> 
				</div>
			</div> 
		</div>    
		<div>
			<!-- <span class="text-danger">支付方式：</span> -->
			<input text="text" type="hidden" readonly id="msgType" th:value="${msgType}" th:placeholder="${msgType}"   style="outline:0;border: 0;  width: 200px; height: 30px; font-size: 18px;" class="text-info text-center">
			
			<!-- <span class="text-danger">支付通知：</span> -->
			<input text="text" type="hidden" readonly id="notifyUrl" th:value="${notifyUrl}" th:placeholder="${notifyUrl}"   >
			
			<!-- <span class="text-danger">回调地址：</span> -->
			<input text="text" type="hidden" readonly id="returnUrl" th:value="${returnUrl}" th:placeholder="${returnUrl}"  >
			
			<!-- <span class="text-danger">商户号：</span> -->
			<input text="text" type="hidden" readonly id="mid" th:value="${mid}" th:placeholder="${mid}" value="1"  >
			
			<!-- <span class="text-danger">终端号：</span> -->
			<input text="text" type="hidden" readonly id="tid" th:value="${tid}" th:placeholder="${tid}"   >
			
			<!-- <span class="text-danger">机构商户号：</span> -->
			<input text="text" type="hidden" readonly id="instMid" th:value="${instMid}" th:placeholder="${instMid}"   >
			
			<!-- <span class="text-danger">消息来源：</span> -->
			<input text="text" type="hidden" readonly id="msgSrc" th:value="${msgSrc}" th:placeholder="${msgSrc}" >
			
			<!-- <span class="text-danger" type="hidden">商户订单号：</span> -->
			<input text="text"  type="hidden" readonly id="merOrderId" th:value="${merOrderId}" th:placeholder="${merOrderId}" >
		</div>

        <script type="text/javascript">
	      /*
	      	*功能： 模拟form表单的提交     
	      	*参数： url 跳转地址 params 参数  
	      	 */
	      	 $(document).ready(function(){
	      			function doGet(URL,PARAMS) { 
	      			    var temp = document.createElement("form");
	      			    temp.action = URL;
	      			    temp.method = "get";
	      			    temp.style.display = "none";
	      			    for (var x in PARAMS) {
	      			        var opt = document.createElement("textarea");
	      			        opt.name = x;
	      			        opt.value = PARAMS[x];
	      			        temp.appendChild(opt);
	      			    }
	      			    document.body.appendChild(temp);
	      			    temp.submit();
	      		   	 return temp;
	      			}
	      		 $("#btn").on("click",function(){
	      			doGet('/UnionPay/lay/unifiedpay',{totalAmount:$('#totalAmount').text(),msgType:$('#msgType').val(),
	      					notifyUrl:$('#notifyUrl').val(),returnUrl:$('#returnUrl').val(),
	      					mid:$('#mid').val(),tid:$('#tid').val(),
	      					instMid:$('#instMid').val(),msgSrc:$('#msgSrc').val(),merOrderId:$('#merOrderId').val()});
	      	});
	      });
        </script>	
	</body>
</html>