<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>出错了</title>
		<link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
		<script src="../lib/js/jquery-1.12.4.min.js"></script>
		<script src="../lib/js/bootstrap.min.js"></script>
	</head>
	<body>
       
     <div>
        <div class="container" style="background-color: #F7F7F7;">
<!--          <center style="margin-top:20px; margin-bottom: 10px;"><img src="../lib/img/yiyuan.png" ></center> -->
		</div>
	</div>
	<div >
            <center><img src="../lib/img/cuowu72.png" style="margin-top:50px; margin-bottom: 10px;"></center>
			<div>
            	<!-- <h4><div id="tips" class="text-center"></div></h4>-->
            	<center><h4>对不起，出错啦！</h4></center>
		        <p th:text="${returnCode}" class="text-center"></p>
		        <hr>
		    </div>
	</div>
	

        
        
	</body>
</html>